ion-content{
    //height: 100vh !important;
    //--ion-background-color:#6666;
    --background:url(../../assets/bg.jpg) no-repeat center center / cover;
    --background-size: cover;
  }
  ion-label {
    font-size: 2em;
  }
  span {
    font-size: 16px;
  }