:root {
    --placeholder-opacity: 0.5
}

#container {
    // text-align: center;
  
    // position: relative;
    // left: 20%;
    // right: 20%;
    width: auto;
    // top: 10%;
    // transform: translateY(-50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  h2 {
      text-align: center;
  }

 ion-label {
     font-size: 2.5em;
 }

span {
    font-size: 16px;
}

.center {
    text-align: center;
}

ion-content{
    //height: 100vh !important;
    //--ion-background-color:#6666;
    --background:url(../../assets/bg.jpg) no-repeat center center / cover;
    --background-size: cover;
  }