<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-icon slot="start" (click)="">Back</ion-icon> -->
    <ion-title>
      Your account, {{ username }}
    </ion-title>
    <ion-button slot="end" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <!-- <strong>Ready to create an app?</strong> -->
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <!-- <div id="assessment_btn"> -->
      <strong><ion-button (click)="gotoform()" color="primary">Start Assessment</ion-button></strong>
    <!-- </div> -->
  </div>
  
</ion-content>
