<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-icon slot="start" (click)="">Back</ion-icon> -->
    <ion-title>
      Your account, {{ username }}
    </ion-title>
    <ion-button slot="end" (click)="getQuoteHistory();submitted = !submitted">{{ submitted? "Hide Quotes" : "My Quotes" }}</ion-button>
    <ion-button slot="end" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides *ngIf="submitted" [options]="slideOptions">
    <ion-slide *ngFor=" let x of [0,1,2]">
      <ion-card>
        <div class="center">
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon>
          Insurance plan quote
        </ion-card-title>
        </div>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>Identifier</ion-col>
              <ion-col> username </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Age</ion-col>
              <ion-col> age  years</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Duration of Policy</ion-col>
              <ion-col> policyDuration  months</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Biological Gender</ion-col>
              <ion-col> todo.value.gender </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Smoker</ion-col> 
              <ion-col> todo.value.smoke </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Quote price</ion-col>
              <ion-col>
                <ion-label>€ quote <span>per month*</span></ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
      <!-- <strong><ion-button (click)="gotoform()" color="primary">Start Assessment</ion-button></strong> -->
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button (click)="gotoform()" color="primary" >Start Assessment</ion-button>
      <!-- fill="outline" -->
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
